@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
	Layout = null;
}

@{
    string[] menuItems = Model.Value<string[]>("menu");


}

<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css" />
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<div>
    <header>
        <div class="text-center mt-3">
            @Model.Value("header")
        </div>
        @if (menuItems != null)
        {
        <ul class="menu">
            @foreach (var menuItem in menuItems)
            {
                <li class="mx-3">@menuItem</li>
            }
        </ul>
        }
    </header>
    <div class="container-fluid px-5">
        <div class="body-layout text-center ml-5 my-5">
            <div class="body-width text-left">
                <div class="text-placement">
                    <div class="heading1 h3">
                        @Model.Value("heading1")
                    </div>
                    <div class="heading2 h4 my-3">
                        @Model.Value("heading2")
                    </div>
                </div>
                <div>
                    @Model.Value("bodyContent")
                </div>
            </div>
            <div class="body-width">
                @Model.Value("bodyImage")
            </div>
        </div>
    </div>
    
    
</div>
<footer class="footer-layout fixed-bottom p-5">
    <div>
        @Model.Value("footerContent")
    </div>
    <div>
        @Model.Value("footerLogo")
    </div>
</footer>

